<!DOCTYPE html>

<style>
div.scroll {
    background-color: #00FFFF;
    width: 500px;
    height: 100px;
    overflow: scroll;
}

</style>
<head>
</head>
<body>
<form method="POST">{% csrf_token %}
	Username: <input value="{{% user.name %}}" id="username" name="username" type="text"><br>
	Password: <input id="password" name="password" type="password">
	<input type="submit" value="Submit">
</form>

<form method="POST">{% csrf_token %}
	Username: <input value="{{% user.name %}}" id="username" name="username" type="text"><br>
	Password: <input id="password" name="password" type="password">
	Retype Password: <input id="password" name="password" type="password">
	<input type="hidden" name="register" value="register">
	<input type="submit" value="Register">
</form>

</body>